<div class="coffee-card">
    <div class="card-image">
      <img [src]="coffee.image" alt="{{ coffee.title }}">
      <button class="like-button">♥</button>
    </div>
  
    <div class="card-body">
      <h3>{{ coffee.title }}</h3>
      <p class="description">{{ coffee.description }}</p>
  
      <div class="card-footer">
        <span class="price">{{ coffee.price }}</span>
        <button class="order-button" (click)="onOrderNow.emit(coffee)">{{ coffee.buttonText }}</button>
      </div>
    </div>
  </div>

  